.card-body {
    border-radius:10px;
    background-color: white;
}

.form-group {
    color: rgb(227,21,73);
    font-size: larger;
    font-style: italic;
}

.CreateBooking
{
    margin-top: 4rem;
}

.card {
    font-weight: bold;
    display: flex;
    float: left;
    width: auto;
    margin-left: 50px;
    opacity: 0.80;
}

button:disabled {
    cursor: not-allowed;
}

.text-danger {
    font-weight: 400;
}

.bg-custom {
    background-color: #580920 !important;
    color: white;
}

.navbar-brand
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    font-size: 22px;
    padding: 8px;
    font-style: italic;
}

.nav-color {
    color: white;
}

a:focus,
a:hover {
    color: #f4f827;
}

.nav-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb((225), 255, 255);
}

.navbar-light .navbar-nav .nav-link:hover ,
.navbar-light .navbar-nav nav-link:focus {
    color: white;
    background: #b10505;
    border-radius: 10px;
}

.message {
    padding: 3px !important;
    margin-left: 15px !important;
    font-weight: 500 !important;
}