.card-body {
    border-radius:10px;
    background-color: white;
}

.form-group {
    color: rgb(227,21,73);
    font-size: larger;
    font-style: italic;
}

.card {
    font-weight: bold;
    display: flex;
    float: left;
    width: auto;
    margin-left: 50px;
    opacity: 0.80;
}

button:disabled {
    cursor: not-allowed;
}

.text-danger {
    font-weight: 400;
}